<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--Title-->
<title>QAProjects</title>

<!-- hiden input file loader -->
<input type="file" id="fileLoader" name="files" title="Load File" />
<!-- css files -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{url_for('static',filename='./css/project_page.css')}}">

<!-- script files -->
	<!-- settings -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src="{{url_for('static',filename='./javascript/project_functions.js')}}"></script>
<script src="{{url_for('static',filename='./javascript/common_variables.js')}}"></script>
<script src="{{url_for('static',filename='./javascript/data_structure.js')}}"></script>

</head>


<body onload = "project_functions.create_initial_page()">

<div id="main_frame">
	<div id="title_frame">
		QA framework
    </div>
	<div id="projects_container">
		<button type="button" onclick="project_functions.set_input_path()">Set input path</button>
		<button type="button" onclick="project_functions.set_output_path()">Set output paht</button>
		<button type="button" onclick="project_functions.set_algorithm_path()">Set algorithm paht</button>
		<button type="button" onclick="project_functions. execute_algorithm()">execute algorithm</button>
	</div>
</div>

</body>

</html>
