<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--Title-->
<title>QAProjects</title>

<!-- hiden input file loader -->
<input type="file" id="fileLoader" name="files" title="Load File" />
<!-- css files -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{url_for('static',filename='./css/test_page.css')}}">

<!-- script files -->
	<!-- settings -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src="{{url_for('static',filename='./javascript/test_functions.js')}}"></script>
<script src="{{url_for('static',filename='./javascript/common_variables.js')}}"></script>
<script src="{{url_for('static',filename='./javascript/data_structure.js')}}"></script>

</head>


<body onload = "test_functions.create_initial_page()">

<div id="main_frame">
	<div id="left_frame">
		QA framework
    </div>
	<div id="right_container">
		<div id="right_question">
			Question content
		</div>
		<div id="right_answer">
			<div id="answer_content">
				Answer content
			</div>
			<div id="answer_score">
				Answer score
				<form id="form" target="_self" onsubmit="" action="javascript: test_functions.postToGoogle()">
					<fieldset>
					  <label>test_question  1--5 </label>
					  <input id="qs1_op_1" type="radio" value="1" name="qs1" />
					  <input id="qs1_op_2" type="radio" value="2" name="qs1" />
					  <input id="qs1_op_3" type="radio" value="3" name="qs1" />
					  <input id="qs1_op_4" type="radio" value="4" name="qs1" />
					  <input id="qs1_op_5" type="radio" value="5" name="qs1" />
					</fieldset>
					<div style="width: 100%; display: block; float: right;">
					  <button id="send" type="submit">
						Send
					  </button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>

</html>
